<p>
  <%= link_to content_tag(:i, "", class: 'icon-twitter') + " Signup with Twitter", "/auth/twitter", class: 'btn' %>
  <%= link_to content_tag(:i, "", class: 'icon-facebook') + " Signup with Facebook", "/auth/facebook", class: 'btn' %>
  <%= link_to content_tag(:i, "", class: 'icon-github') + " Signup with Github", "/auth/github", class: 'btn' %>
</p>

<%= render 'form' %>